.work{
    width:70%;
    margin: auto;
    margin-top: 20px ;
    display: flex;
    border-radius: 10px;
    font-size: clamp(.8rem, 1.5vw ,.9rem);
}
.title-work{
    margin:0px 0px 20px 20px ;
}
label{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--gris);
    border: #e9a8a8 2px solid;
    box-shadow: #928d8d 2px 2px 5px;
}
.add{
    display: flex;
    float: right;
    margin-right: 10%;
    margin-bottom: 20px;
    padding:   10px  20px  ;
    font-size: 40px;
    background-color: var(--accent);
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.add:hover{
    background-color:var(--hover);
}
.add a:hover{
    color: var(--accent);
}


[type="checkbox"]{display:none;}
label{
    padding-left: 1.3em;
    position: relative;
    color:#000;
}
label:before{
    content:'';
    border: solid 1.5px #e9a8a8;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    transition: all 0.2s;
    transform: rotate(0deg);
    margin-top: 5px;
}

[type="checkbox"]:checked + label{
    color: #fff;
    content: '';
    background-color: var(--accent);
    border:none;
    
}
[type="checkbox"]:checked + label:before{
    border-color: #fff;
    color: var(--accent);
    content: 'J';
    transform: rotate(360deg);
    background-color: #fff;
}
@media (max-width: 600px) {
    .work{
        width: 95%;
    }
}