
.work{
    position: relative;
    width:70%;
    margin: auto;
    margin-top: 20px ;
    display: flex;
    border-radius: 10px;
    font-size: clamp(.8rem, 1.5vw ,1rem);
}
.title-work{
    margin:0px 0px 20px 40px ;
    display: flex;
}
label{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--gris);
    border: #e9a8a8 2px solid;
    box-shadow: #928d8d 2px 2px 5px;
    position: relative;
}
.add{
    display: flex;
    position: absolute;
    bottom:40px;
    right: 40px;
    padding:   7.5px  15px  ;
    font-size: 30px;
    background-color: var(--accent);
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.add:hover{
    background-color:var(--hover);
}


[type="checkbox"]{
    display:none;

}
label{
    padding-left: 1.3em;
    color:#000;
    position: relative;
    display: grid;
    grid-template-columns: 400px 200px 300px;
}

label:before{
    content:'';
    border: solid 1.5px #e9a8a8;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: all 0.2s;
    transform: rotate(0deg);
    margin-top: 5px;

}

[type="checkbox"]:checked + label{
    color: #fff;
    content: '';
    background-color: var(--accent);
    border:var(--accent) solid 2px;
    
}
[type="checkbox"]:checked + label:before{
    border-color: #fff;
    color: var(--accent);
    content:'';
    transform: rotate(360deg);
    background-color: #fff;
}
.check{
    display: none;
    position: absolute;
    margin: auto;
    top:25px;
    left:27px;
    width: 10px;
    height: 20px;
    border: var(--accent) 3px solid;
    border-left: none;
    border-top: none;
    transform: rotate(40deg);
    z-index: 10;
}

[type="checkbox"]:checked + label .check{
    display: block;
}
[type="checkbox"]:checked + label .state{
    display: none;
}

.student{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40%;
    
}
.state{
    color: red;
    
}
.img-student{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10%;
    
}

.studing{
    line-height: 30px;
    font-size: 20px;


}
.calification{
    display: flex;
    align-items: center;
    
}
.calification-1{
    text-align: center;
}
.points{
    margin-right: 20px;
}
.star, .star:before{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #e9a8a8;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 70%;
    height: 70%;
    inset: 0;
    margin: auto;
    z-index: 1;
}
[type="checkbox"]:checked + label .star{
    background-color: white;
}
[type="checkbox"]:checked + label .star:before{
    background-color: yellow;
}
@media (max-width: 600px) {
    .work{
        width: 95%;
    }
}


